.navbar {
    height: 5rem;
    width: 100vw;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: #f4cccc;
}


.destopMenuListItem{
    margin: 1.5rem;
    color: #b98282;
    cursor: pointer;
}

.destopMenuListItem:hover{
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
}
.active{
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid white;
}